<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clubrecordar.recordar2016">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlianzasNacionales"
            android:label="@string/title_activity_alianzas_nacionales"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.clubrecordar.recordar2016.MainActivity" />
        </activity>
        <activity android:name=".CourseActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".EventsActivity" />
        <activity
            android:name=".cities.NationalAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".cities.BarranquillaAliance" />
        <activity android:name=".cities.BogotaAlicance" />
        <activity android:name=".cities.BoyacaAliance" />
        <activity android:name=".cities.CaliAlianceActivity" />
        <activity android:name=".cities.CartagenaAlianceActivity" />
        <activity android:name=".cities.ValleAlianceActivity" />
        <activity android:name=".cities.PastoAlianceActivity" />
        <activity android:name=".details.national.NationalDetFirstActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFirstActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetFirstActivity" />
        <activity android:name=".detailsItem.national.NationalDetFirstActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFirstActivity" />
        <activity android:name=".detailsItem.cali.CaliDetFirstActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFirstActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetFirstActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetFirstActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetSecActivity"></activity>
    </application>

</manifest>
