<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clubrecordar.recordar2016">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlianzasNacionales"
            android:label="@string/title_activity_alianzas_nacionales"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.clubrecordar.recordar2016.MainActivity" />
        </activity>
        <activity android:name=".CourseActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".EventsActivity" />
        <activity
            android:name=".cities.NationalAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.BarranquillaAliance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.BogotaAlicance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.BoyacaAliance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.CaliAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.CartagenaAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.ValleAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.PastoAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detailsItem.barranquilla.BarranquillaDetFirstActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetFirstActivity" />
        <activity android:name=".detailsItem.national.NationalDetFirstActivity" />
        <activity android:name=".detailsItem.cali.CaliDetFirstActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFirstActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetFirstActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetFirstActivity" />
        <activity
            android:name=".detailsItem.barranquilla.BarranquillaDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetSecActivity" />
        <activity android:name=".detailsItem.national.NationalDetThirdActivity" />
        <activity android:name=".detailsItem.national.NationalDetFourthActivity" />
        <activity android:name=".detailsItem.national.NationalDetFifthActivity" />
        <activity android:name=".detailsItem.national.NationalDetSixthActivity" />
        <activity android:name=".detailsItem.national.NationalDetSeventhActivity" />
        <activity android:name=".detailsItem.national.NationalDetEighthActivity" />
        <activity android:name=".detailsItem.national.NationalDetNinthActivity" />
        <activity android:name=".detailsItem.national.NationalDetTenthActivity" />
        <activity android:name=".detailsItem.national.NationalDetEleventhActivity" />
        <activity android:name=".detailsItem.national.NationalDetTwelvethActivity" />
        <activity android:name=".detailsItem.national.NationalDetThirteenthActivity" />
        <activity android:name=".detailsItem.national.NationalDetFourteenthActivity" />
        <activity android:name=".detailsItem.national.NationalDetFifteenthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetThirdActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFourthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFifthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetSixthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetSeventhActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetEighthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetNinthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetTenthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetEleventhActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetTwelvethActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetThirdteenthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFourteenthActivity" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFifteenthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetSecActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetThirdActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetFourthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetFifthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetSixthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetSeventhActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetEighthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetNinthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetTenthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetEleventhActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetTwelvethActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetThirteenthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetFourteenthActivity" />
        <activity android:name=".detailsItem.bogota.BogotaDetFifteenthActivity"/>
        <activity android:name=".detailsItem.boyaca.BoyacaDetFirstActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetSecActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetThirdActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFourthActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFifthActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetSixthActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetSeventhActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetEighthActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetNinthActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetTenthActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetEleventhActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetTwelvethActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetThirteenthActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFourteenthActivity" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFifteenthActivity"/>
        <activity android:name=".detailsItem.cali.CaliDetSecActivity" />
        <activity android:name=".detailsItem.cali.CaliDetThirdActivity" />
        <activity android:name=".detailsItem.cali.CaliDetFourthActivity" />
        <activity android:name=".detailsItem.cali.CaliDetFifthActivity" />
        <activity android:name=".detailsItem.cali.CaliDetSixthActivity" />
        <activity android:name=".detailsItem.cali.CaliDetSeventhActivity" />
        <activity android:name=".detailsItem.cali.CaliDetEighthActivity" />
        <activity android:name=".detailsItem.cali.CaliDetNinthActivity" />
        <activity android:name=".detailsItem.cali.CaliDetTenthActivity" />
        <activity android:name=".detailsItem.cali.CaliDetEleventhActivity" />
        <activity android:name=".detailsItem.cali.CaliDetTwelvethActivity" />
        <activity android:name=".detailsItem.cali.CaliDetThirteenthActivity" />
        <activity android:name=".detailsItem.cali.CaliDetFourteenthActivity" />
        <activity android:name=".detailsItem.cali.CaliDetFifteenthActivity"/>
        <activity android:name=".detailsItem.cartagena.CartagenaDetSecActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetThirdActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFourthActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFifthActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetSixthActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetSeventhActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetEighthActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetNinthActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetTenthActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetEleventhActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetTwelvethActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetThirteenthActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFourteenthActivity" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFifteenthActivity"/>
        <activity android:name=".detailsItem.pasto.PastoDetSecActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetThirdActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetFourthActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetFifthActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetSixthActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetSeventhActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetEighthActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetNinthActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetTenthActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetEleventhActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetTwelvethActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetThirteenthActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetFourteenthActivity" />
        <activity android:name=".detailsItem.pasto.PastoDetFifteenthActivity"/>
        <activity android:name=".detailsItem.valledupar.ValleDetSecActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetThirdActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetFourthActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetFifthActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetSixthActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetSeventhActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetEighthActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetNinthActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetTenthActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetEleventhActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetTwelvethActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetThirteenthActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetFourteenthActivity" />
        <activity android:name=".detailsItem.valledupar.ValleDetFifteenthActivity"></activity>
    </application>

</manifest>
